---
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}&trade;</a></h2>
	</nav>
</header>

<style>
	header {
		margin: 0;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
	}
  nav {
    padding: 1rem 1em;
  }
	h2 {
		margin: 0;
		font-size: 1em;
	}
	h2 a {
    color: var(--black);
    text-decoration: none;
    transition: color .3s ease-in;
  }
</style>
